# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/cypress/videos
/cypress/screenshots

# Production
/build
/dist
/.next
.serverless

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# AWS
aws-exports.js
aws-exports-*.js
/amplify/team-provider-info.json
/amplify/backend/amplify-meta.json
/amplify/backend/awscloudformation/
/amplify/#current-cloud-backend
/amplify/backend/api/API.json
/amplify/backend/hosting/
.amplify/

# Cache
.cache/
.eslintcache
.stylelintcache

# Build output
*.tsbuildinfo
.next
out/

# Test coverage
coverage/
.nyc_output/

# Temporary files
*.tmp
*.temp
.DS_Store
Thumbs.db
